# source
git     /extensions/GenericHandlers    git://github.com/oe-legacy/extensions-GenericHandlers.git
git-dev /extensions/GenericHandlers    git@github.com:oe-legacy/extensions-GenericHandlers.git
